body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}

:root {

}

/* reset */
a {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Header */
.header {
   background: #E7E9FC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    color: #2E2F42;
}


.header-nav {

}
.header-list {
  
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.header-address {
font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.header-page {
    
}

.header-address:hover,
.header-address:focus {
    color: #404BBF;
}


/* Main */
.main {



    background: #FFFFFF;
}

/* hero */
.section-hero {
    font-family: "Roboto";
    font-weight: 700;
    background: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    color: #FFFFFF;
}

.hero-btn {
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    color: #FFFFFF;
    background: #4D5AE5;
}

/* feature */
.feature {
    
}

.Feature-list {}

.Feature-link {
display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.Feature-hero {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.Feature-options {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

/* Technologies */
.what-we-doing {
    font-family: Roboto;
    font-weight: 700;

}

.Technologies-hero {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

.Technologies-list {}

.Technologies {}

.Technologies img {}

.our-team {
    font-family: Roboto;

}

.our-team-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

.team-work {}

.team-work img {}

.name-team {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.team-skill {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

/* Footer */
.footer {
    font-family: "Raleway";
    font-weight: 800;
    background: #2E2F42;
}

.down-logo {
    color: #F4F4FD;
}

.footer-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #F4F4FD;
}

/* PORTFOLIO */

.portfolio-page{
   
}

.button-filters{
    display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        color: #4D5AE5;
        background: #E7E9FC;
}
.section-nav{
    justify-content: center;
}
.section-item{
    font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #2E2F42;
}
.section-link{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
}

.finger{
   
}

