:root {
    /* fons */
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* colors */
    --navyblue: #2E2F42;
    ---iris: #4D5AE5;
    --white: #ffffff;
    --cloud: #f4f4fd;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
    --slate: #434455;
}

body {
    font-family: var(--primary-font);
    color: var(--white);
    
    list-style-type: none;
}

/* reset */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Header */
.header {
   background: #E7E9FC;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(---iris);
}

.studio {
    color: var(--navyblue);
}


.header-nav {

}
.header-list {
  
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.header-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.header-address {
font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate);
}

.header-page {
    
}

.header-address:hover,
.header-address:focus {
    color: var(--ocean);
}


/* Main */
.main {
}

/* hero */
.section-hero {
    font-family: var(--primary-font);
    font-weight: 700;
    background: var(--navyblue);
}

.hero-title {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    color: var(--white);
}

.hero-btn {
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    color: var(--white);
    background: var(---iris);
}

/* feature */
.feature {
    
}

.Feature-list {
}

.Feature-link {
display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.Feature-hero {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

.Feature-options {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate);
}

/* Technologies */
.what-we-doing {
    font-family: var(--primary-font);
    font-weight: 700;
}

.Technologies-hero {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--navyblue);
}

.Technologies-list {}

.Technologies {}

.Technologies img {}

.our-team {
    font-family: var(--primary-font);
background: var(--cloud)
}

.our-team-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--navyblue);
}

.team-work {}

.team-work img {}

.name-team {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

.team-skill {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate)
}

/* Footer */
.footer {
    font-family: var(--secondary-font);
    font-weight: 800;
    background: var(--navyblue);
}

.down-logo {
    color: var(--cloud)
}

.footer-text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--cloud)
}

/* PORTFOLIO */

.portfolio-page{
   
}

.button-filters{
        padding: 12px 24px;
        color: #4D5AE5;
        background: #E7E9FC;
}
.section-nav{
    justify-content: center;
}
.section-item{
    font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: var(--navyblue);
}
.section-link{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: var(--slate)
}

.finger{
   
}

